.login-form {
  width: 300px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 30px 25px;
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;

  input {
    width: 100%;
    margin-bottom: 20px;
  }

  button {
    width: 100%;
    margin-bottom: 20px;
  }
}
